 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer atau yang biasa disebut dengan tenaga lepas adalah pekerjaan yang tidak terikat kontrak jangka panjang namun tetap memiliki ikatan kerja yang kuat terhadap perusahaan. Kontrak yang diberikan terhadap freelancer ini biasanya hanya berisi project, design, waktu pengerjaan, dan juga biaya yang dikenakan.</p>
                </div>
                <div class="col-lg-4">
                    <p>Saya adalah Mahasiswa Uin Suska Riau yang sekarang tengah menempuh pendidikan pada semester 6, Saya berasal dari Kabupaten Pelalawan. Hobi saya yaitu mendesign dan juga memotret. Maka dari itu saya mempunya bisnis yang bergerak dibidang design yang bernama "Dibantuin.id"</p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
